<h1>ModelMailer#new_update_notification</h1>

<p>
	<%= @greeting %>, 
</p>
<p>
	tracker.id: <%= @tracker.id %>, 
</p>	
<p>
	tracker.url: <%= @tracker.url %>, 
</p>
<p>
	updates.last.content: <%= @updates.last.content %>, 
</p>
