<h2>Confirm Information</h2>

<p>
	<strong>URL:</strong>
	<%=h @tracker.url %>
</p>
<p>
	<strong>nodes:</strong>
	<%=h @tracker.nodes %>
</p>
<p>
	<strong>content:</strong>
	<%=h @tracker.content %>
</p>
