<p id="notice"><%= notice %></p>

<%= content_tag :div, class: "page-data", data: {id: @tracker.id, url: @tracker.url} do %><% end %>


<div id="chart"></div>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>