// Place all the styles related to the Trackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart{
	max-width: 750px;
	height: 400px;
}
.mouseover_1 {
	box-shadow: LightSkyBlue 0px 0px 0px 1px;
}
.mouseover_2 {
	box-shadow: LightPink 0px 0px 0px 1px;
}
.hovered, .selected {
	z-index: 9999;
	position: absolute;
}